html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "title-font";
  src: url("../Fonts/MBFModernRebel.ttf") format("truetype");
}

@font-face {
  font-family: "section-font";
  src: url("../Fonts/BIOWEAPON.ttf") format("truetype");
}

@font-face {
  font-family: "works-font";
  src: url("../Fonts/Reospec.otf") format("truetype");
}

body {
  background-color: #0a0a0a;
  color: rgb(241, 238, 215);
  margin-top: 8%;
  margin-left: 5%;
  margin-right: 5%;
}

.work_title {
  font-family: works-font;
  font-size: 440%;
}

.description {
  font-size: 120%;
}

.display_images {
  width: 30%;
  height: 10%;
  margin-left: 20%;
}