html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "title-font";
  src: url("../Fonts/MBFModernRebel.ttf") format("truetype");
}

@font-face {
  font-family: "section-font";
  src: url("../Fonts/BIOWEAPON.ttf") format("truetype");
}

@font-face {
  font-family: "works-font";
  src: url("../Fonts/Reospec.otf") format("truetype");
}

body {
  background-color: #0a0a0a;
  color: rgb(241, 238, 215);
  margin-top: 8%;
  margin-left: 5%;
  margin-right: 5%;
}

.work_title {
  font-family: works-font;
  font-size: 440%;
}

.description {
  font-size: 120%;
}

.display_images {
  width: 30%;
  height: 10%;
  margin-left: 20%;
}

/* From Uiverse.io by Creatlydev */ 
.btn-github {
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  border: none;

  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  border-radius: 100px;
  font-weight: 800;
  place-content: center;

  padding: 0.75rem 1rem;
  font-size: 0.825rem;
  line-height: 1rem;

  background-color: rgba(0, 0, 0, 0.4);
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.08),
    inset 0 0 0 2px rgba(255, 255, 255, 0.08);
  color: #fff;
}

.btn-github:hover {
  box-shadow:
    inset 0 1px 0 0 rgba(255, 255, 255, 0.09),
    inset 0 0 0 1px rgba(252, 232, 3, 0.09);
  color: #f66435;
  transform: translate(0, -0.25rem);
  background-color: rgba(0, 0, 0, 0.5);
}
